[submodule "Packages/HPUI-Core"]
	path = Packages/HPUI-Core
	url = https://github.com/ahmed-shariff/HPUI-Core.git
[submodule "Packages/vicon-nexus-unity-stream"]
	path = Packages/vicon-nexus-unity-stream
	url = https://github.com/ahmed-shariff/vicon-nexus-unity-stream.git
